<ion-header [translucent]="true">
  <ion-toolbar class="div2" color="hello-v">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="hello-v">
  <ion-grid class="text-center">
    <ion-row>
      <ion-col>
        <img src="assets/product/15promax.webp" alt="">
        <p>iPone 15 Pro max</p>
        <p>ราคา: 44,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="assets/product/f23fe.webp" alt="">
        <p>f23fe</p>
        <p>ราคา: 22,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/product/ipadair5.webp" alt="">
        <p>ipadair5</p>
        <p>ราคา: 21,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="assets/product/mi-14tpro.jpg" alt="">
        <p>mi-14tpro</p>
        <p>ราคา: 32,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/product/mipad5.jpg" alt="">
        <p>mipad5</p>
        <p>ราคา: 10,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="assets/product/s24.webp" alt="">
<p>s24</p>
        <p>ราคา: 38,900 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/product/ts9.jpg" alt="">
        <p>ts9</p>
        <p>ราคา: 6,000 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="assets/product/vivo-y20.png" alt="" style="height: 155px;">
        <p>vivo y20 max</p>
        <p>ราคา: 5,299 บาท</p>
        <ion-button size="large" expand="block" color="primary" fill="solid">
          ซื้อสินค้า
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>